/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Medium.otf') format(opentype);
}


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #1d1e24;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-breadcrumb-color-active: #F58E8E;
  --ifm-color-content: #fff !important;
  --ifm-background-surface-color: #20232b;
  --ifm-footer-link-hover-color: #ededed;
  --ifm-navbar-link-hover-color: #F6C285;
  --ifm-menu-color-active: #F6C285;
  --ifm-menu-color: #606770;
  --ifm-link-color: #F6C285;
  --ifm-color-gray-300: #ededed;
  --ifm-pagination-nav-color-hover: #ff7e7b;
  --ifm-breadcrumb-item-background-active: transparent;
}

[data-theme="dark"] a:not(.button):hover {
  border-color: #F6C285;
  color: #F6C285;
}

[data-theme="dark"] .footer--dark {
  --ifm-footer-background-color: transparent;
}
[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6 {
  font-family: "Pretendard";
  color: white;
}

[data-theme="dark"] .hero--primary,
[data-theme="dark"] .hero__subtitle {
  --ifm-font-color-base-inverse: #fff;
}
html[data-theme="dark"] {
  font-family: "Pretendard";
}
[data-theme="dark"] body {
  position: relative;
  font-family: "Pretendard";
}

[data-theme="dark"] .navbar {
  box-shadow: 0px 5.116926193237305px 30.70151138305664px -1.2792315483093262px rgba(0, 0, 0, 0.20);
}

[data-theme="dark"] .table-of-contents__link:hover,
[data-theme="dark"] .table-of-contents__link--active {
  color: #F6C285;
}

[data-theme="dark"] .card {
  background-color: transparent;
  position: relative;
  min-height: 100%;
  border: transparent !important;
  border-radius: 10px;
  border: 1px solid rgba(237, 237, 237, 0.20) !important;
}
[data-theme="dark"] .card::after {
  content: "";
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  inset: 0px;
  border-radius: 10px;
  border-color: transparent;
  padding: 2px;
  background: linear-gradient(
    131.93deg,
    rgba(245, 142, 142, 0.6) 11.72%,
    rgba(246, 162, 148, 0.23) 38.41%,
    rgba(248, 190, 157, 0.23) 66.36%,
    rgba(249, 212, 164, 0.6) 91.8%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
[data-theme="dark"] .card:hover::after {
  visibility: visible;
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 10px;
  animation: moveGradient 4s alternate infinite;
}
[data-theme="dark"] .card:hover {
  border-color: transparent !important;
}
[data-theme="dark"] .card:hover h2 {
  color: #F58E8E;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

[data-theme="dark"]
  .tag_node_modules-\@docusaurus-theme-classic-lib-theme-Tag-styles-module {
  --docusaurus-tag-list-border: #fff;
  color: #ededed;
}

[data-theme="dark"] .breadcrumbs__item:not(:last-child):after {
  filter: invert(1) brightness(100);
  opacity: 1;
}
[data-theme="dark"] .sidebarItemLinkActive_node_modules-\@docusaurus-theme-classic-lib-theme-BlogSidebar-Desktop-styles-module {
  --ifm-color-primary: #FBB35E !important;
}
[data-theme="dark"] .toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
  display: none;
}
[data-theme="dark"] .pagination-nav__sublabel {
  color: #525860;
}

[data-theme="dark"] .pagination-nav__link {
  border-color: #DADDE1;
}

[data-theme="dark"] .list_node_modules-\@docusaurus-theme-classic-lib-theme-DocCategoryGeneratedIndexPage-styles-module article:nth-last-child(-n+2) {
  margin-bottom: 2rem !important;
}

@media (min-width: 997px) {
  [data-theme="dark"] .container {
    margin-left: 50px;
    width: calc(100% - 50px);
  }
}
@media (min-width: 1200px) {
  [data-theme="dark"] .container {
    margin-left: 100px;
    width: calc(100% - 100px);
  }
}

[data-theme="dark"] .button__primary {
  background-color: #F49893;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  min-height: 46px;
  display: flex;
  align-items: center;
}
[data-theme="dark"] .button__primary:hover {
  color: #fff;
}

[data-theme="dark"] .button__outline {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  min-height: 46px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

[data-theme="dark"] .button__outline:hover {
  border-color: #F49893;
  background-color: #F49893;
}

[data-theme="dark"] .heroBanner_src-pages-index-module {
  background: url("../images/bg.png");
  min-height: 490px;
}
[data-theme=dark] blockquote, [data-theme=dark] code {
  background-color: #111;
}

[data-theme=dark] .theme-doc-markdown.markdown,
article.margin-top--lg {
  min-height: 300px;

}